# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editors/IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Build
dist/
build/
coverage/

# Database
pedidos.db
pedidos.db*
*.db
*.sqlite
*.sqlite3
*.db-journal
*.db-wal
*.db-shm

# Misc
.cache/